@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
      @apply  h-7 md:inline-flex
      cursor-pointer hover:scale-125
      transition-all duration-150 ease-out hover:text-black;
  }

  .pending {
      @apply text-white text-sm w-1/3 pb-1
      bg-yellow-600 font-semibold px-2 rounded-full
  }
  .sidebar-icon {

    @apply bg-white hover:bg-black  p-1 text-primary hover:text-white my-12 
    rounded-md hover:rounded-2xl transition-all duration-200 ease-linear  flex justify-start items-center gap-3;
}
.btn-active {
    @apply bg-sky-500
    
  }

  .academy-p {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}









.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  







.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.custom-link {
  color: #2d4e90;
}

.custom-link:hover {
  color: #2b3c51;
}